.menuContainer{
    min-width: 651;
}

.navTitles{
    font-size: medium;
    font-family: sans-serif;
    text-align: center;
    color: #33FFB8;
}

.navImage{
    size: 10;
    vertical-align: bottom;
}

.navLogout{
    position: right;
    size: 10;
}

.avataIcon{
    min-width: 375;
    max-width: 650;
}

.buttonColumn{
    vertical-align: bottom;
    text-align: right;
}

.button{
    position: right;
    size: small;
}

.navMenu{
    width: 16;

}

.navMenuItems{
    font-size: medium;
    font-family: sans-serif;
    text-align: center;
    color: #33FFB8;
}